<html>
    <head>
        <title>Lec</title>
    </head>
    <body>
        <form action="lec_submit" name="f1" method="post">
            <select name="staff">
                <%
                freestaff.forEach(x => {
                %>
                <option value="<%=x%>" id="<%=x%>"><%=x.toUpperCase()%></option>
                <%
                });
                %>
            </select>
            <select name="classroom">
                <%
                freeclass.forEach(x => {
                %>
                <option value="<%=x%>" id="<%=x%>"><%=x.toUpperCase()%></option>
                <%
                });
                %>
            </select>
            <input type="hidden" name="time" value="<%= time %>">
            <input type="hidden" name="day" value="<%= day %>">
            <input type="hidden" name="classnm" value="<%= classnm %>">
            <input type="hidden" name="subject" value="<%= subject %>">
            <input type="submit" value="submit">
        </form>
    </body>
</html>